*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */
.container {
    width: 1600px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 2px solid black;
}

/* ITEMS */
.items{
    width: 1200px;
    height: 550px;

    border: 2px solid blueviolet;
}

.item {
    height: 100%;

    display: none;
    position: relative;
}

.item.active {
    display: block;
}

.item img {
    width: 100%;
    height: 100%;
    object-position:center;

    
}

.item-text{
    text-align: end;
    width: 95%;

    color: white;
    position: absolute;
    z-index: 6;
    top: 5%;
    font-size: 1.5rem;

    text-shadow: 1px 1px grey;
}

#itemTitle{
    margin-bottom: 1.5rem;
}

/* THUMBS */
.thumbs{
    width: 1200px;
    height: 200px;

    display: flex;
    
    position: relative;

    background-color: black;

}

.thumb {
    width: calc(100% / 5);
    height: 200px;

    opacity: 0.5;
}

.thumb.active{
    opacity: 1;
    border: 2px solid white;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-position:center;
}

/* BUTTONS */
.next, .prev{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    background-color: rgba(128, 128, 128, 0.833);
    padding: .8rem;
    border-radius: 50%;

    cursor: pointer;
    z-index: 5;
}

.next{
    right: 1%;
}

.prev{
    width: 39px;
    left: 1%;
}

.buttons {
    height: 100px;
    width: 400px;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

button{
    color: white;
    background-color: #0d6efd;

    border: none;
    border-radius: 5px;

    padding: .8rem;

    cursor: pointer;
}